image: toolhippie/scw:latest
manifests:
  -
    image: toolhippie/scw:amd64
    platform:
      architecture: amd64
      os: linux
  -
    image: toolhippie/scw:arm64v8
    platform:
      architecture: arm64
      os: linux
      variant: v8
  -
    image: toolhippie/scw:arm32v6
    platform:
      architecture: arm
      os: linux
      variant: v6
